@media screen and (max-width:576px) {
    
/* navsection is start  */
    nav{
        flex-direction: column;
    }
    .navicon{
        justify-content: space-around;
        margin: 0 auto;
        gap: 15px;
        
    }
    .navbar{
        width: 100%;
        flex-direction: column;
    }
    .navbar a{
        margin: 20px;
    }
    .navbar span {
        width: 65%;
        margin: 0;
        justify-content: center;
        gap: 15px;
    }
    /* nav section is done  */


/* banner G.O.A.T start */
    .banner-goat{
        flex-direction: column-reverse
    }
    .banner-goat-text{
        width: 100%;
        margin: 10% 0 0 0 ;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    .banner-goat-text h1 {
        font-size: 38px;
    }
    .banner-goat-text span {
        font-size: 70px;
    }
    .singin,.gorogue{
        padding: 15px 25px;
    }


/* banner G.O.A.T end */





}





@media screen and (min-width:577px) and (max-width:960px) {
    .navbar span{
        font-size: 10px;
        padding: 5px;
        
    }
    .singin,.gorogue{
        padding: 15px 25px;
    }
    

    
}