@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:ital,wght@1,900&family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100%; */
    
}

/* navsection start  */

.navsection{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav{
    
    
    max-width: 1200px;
    /* min-height: 70px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 10px;
    
}
.navicon{
    width: 50%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.navicon-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 45px;
}
.navicon-text span{
    color: #FF42A5;
    
}
.navicon img{
    
    width: 60px;
    height: 30px;
}
.navbar{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;


}
.navbar a{
    text-decoration: none;
    margin-left: 32px;
    color: black;
}
.navbar span{
    align-items: center;
    border: 1px solid;
    display: flex;
    margin-left: 32px;
    padding: 10px;
    width: 30%;
    justify-content: space-between;
    border-radius: 5px;
    border: none;
    background: rgba(11, 2, 35, 0.10);
}
.fa-youtube{
    color: red;
    font-size: 20px;
}
.navbar-btn{
    border: none;
}

/* navsection css is done  */


/* banner G.O.A.T start */
.banner-goat{
    max-width: 1200px;
    margin: 50px auto 0;
    min-height: 300px;
    display: flex;
    font-family: 'Work Sans', sans-serif;
}
.banner-goat-text{
    font-size: small;
    width: 50%;
    justify-content: center;
    margin: 10% auto;
    padding: 10px;

}
.banner-goat-img img{
    width: 100%;

}
.banner-goat-text span{
    font-size: 85px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;

}
.banner-goat-text h1{
    font-size: 48px;
    text-align: left;
}
.banner-goat-text p{
    margin-top: 10px;
}
.btn{
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    font-size: 20px;
    color: white;
}
.singin{
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-right: 10px;
    
}
.gorogue{
    background: #4EC5F7;
}
.banner-goat-text .banner-goat-text-btn{
    margin-top: 40px;
}

/* banner G.O.A.T end */



/* section banner-online-games start */
.main-1-text-div{
    border: 2px solid green;
    margin-top: 5%;
    /* max-width: 1200px; */
}
.main-1-text-div p,h1{
    text-align: center;
}
.banner-online-games{
    position: relative;
    max-width: 1200px;
    margin:7% auto;
    min-height: 200px;
    
}

                            /* new addd */
.banner-online-games p{
    text-align: center;
} 
.banner-online-games h1{
    text-align: center;
} 
.online-games-card img{
    width: 280px;
    display: block;
}
.online-games-card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* align-content: center; */
        justify-content: center;
    
    

}
.online-games-card div p {
    text-align: left;
    padding: 10px;
}
.banner-online-games h1{
    font-size: 48px;
    margin-bottom: 10px;
}
.banner-online-games p{
    font-size: 18px;
    margin-bottom: 40px;
}
.banner-online-games h1 span{
    background-image:  linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

/* section banner-online-games end */



/* Play Instantly,No Downloads  section start  */
.play-instant{
    max-width: 1200px;
    margin: auto;
    min-height: 300px;
    display: flex;
    gap: 50px;
    font-family: 'Work Sans', sans-serif;
}
.play-instant-text{
    width: 50%;

}
.play-instant-img{
    width: 50%;
}
.pic-1 img{
    width: 100%;
}
.pic-2 img{
    width: 60%;
    margin: -50% 0 0 -20% ;
}
.play-instant-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.play-instant-text-left{
    text-align: right;
}
.play-instant-text-left h1{
    text-align: right;
    font-size: 48px;
    margin-bottom: 24px;
}
.play-instant-text-left h1 .play{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.play-instant-text-left h1 .no{
    color: #0B0223;
    font-weight: bold;
    font-size: 45px;
    
}
/* Play Instantly,No Downloads  section end  */



